.chooseBar{
    margin-top: 20px;
}
.choose{
    background-color: #f3d1ab;
    &:hover{
        color: aliceblue;
    }
}
.active{
    color: orange !important;
    border: 1px solid orange !important;
}
.title{
    font-size: 30px;
    font-family:  'Segoe UI', sans-serif;
    background-color: orange;
}